@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #17153B;
    --foreground: #fdfdfd;
    --span: #fc7b54;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
