@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #17153B;
  --color: #fdfdfd;
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #3e5eee;
  }
} */

body {
  color: var(--color);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
